<html>
<head>
  <title>Robot Arm Controller</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Icon library -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

  <!--  Bootswatch Cosmo theme for Boostrap  -->
  <link rel="stylesheet" href="https://bootswatch.com/5/cosmo/bootstrap.css">

  <!--  JQuery  -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

  <!--  Custom Stylesheet  -->
  <link rel="stylesheet" href="../static/style.css">

  <!--  Custom Script  -->
  <script src="../static/script.js"></script>

</head>

<body class="bg-dark text-white">

  <h1 class="text-center m-0">Robot Arm Controller</h1>

  <main>

    <header><h4 class="m-0">Grippers</h4></header>
    <button class="btn btn-lg btn-primary w-100 h-100" type="button" id="grippers-open-btn">
      <i class="bi bi-arrows-expand-vertical"></i>
    </button>
    <button class="btn btn-lg btn-primary w-100 h-100" type="button" id="grippers-close-btn">
      <i class="bi bi-arrows-collapse-vertical" aria-hidden="true"></i>
    </button>

    <header><h4 class="m-0">Wrist</h4></header>
    <button class="btn btn-lg btn-primary w-100 h-100" type="button" id="wrist-up-btn">
      <i class="bi bi-arrow-up-circle" aria-hidden="true"></i>
    </button>
    <button class="btn btn-lg btn-primary w-100 h-100" type="button" id="wrist-down-btn">
      <i class="bi bi-arrow-down-circle" aria-hidden="true"></i>
    </button>

    <header><h4 class="m-0">Elbow</h4></header>
    <button class="btn btn-lg btn-primary w-100 h-100" type="button" id="elbow-up-btn">
      <i class="bi bi-arrow-up-circle" aria-hidden="true"></i>
    </button>
    <button class="btn btn-lg btn-primary w-100 h-100" type="button" id="elbow-down-btn">
      <i class="bi bi-arrow-down-circle" aria-hidden="true"></i>
    </button>

    <header><h4 class="m-0">Base & Shoulder</h4></header>
    <section id="base">
      <button class="btn btn-lg btn-primary w-100 h-100" type="button" id="base-ccw-btn">
        <i class="bi bi-arrow-counterclockwise" aria-hidden="true"></i>
      </button>
      <button class="btn btn-lg btn-primary w-100 h-100" type="button" id="shoulder-up-btn">
        <i class="bi bi-arrow-up-circle" aria-hidden="true"></i>
      </button>
      <button class="btn btn-lg btn-primary w-100 h-100" type="button" id="shoulder-down-btn">
        <i class="bi bi-arrow-down-circle" aria-hidden="true"></i>
      </button>
      <button class="btn btn-lg btn-primary w-100 h-100" type="button" id="base-cw-btn">
        <i class="bi bi-arrow-clockwise" aria-hidden="true"></i>
      </button>
    </section>

    <div id="led-container">
      <input type="checkbox" class="btn-check" id="led-btn" autocomplete="off">
      <label class="btn btn-lg btn-outline-light w-100 h-100 py-3" for="led-btn">
        <i class="bi bi-lightbulb-fill" aria-hidden="true"></i>
      </label>
    </div>
    
    <button class="btn btn-lg btn-danger w-100 h-100 py-3" type="button" id="stop-all-btn">
      <i class="bi bi-sign-stop" aria-hidden="true"></i>
    </button>

  </main>

</body>

</html>